<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset = "UTF-8">
    <meta name = "viewport" content ="width=device-width, initial-scale=1.0">
    <title>
        My First Web Application
    </title>
</head>
<body>
    <div class = "container">
        <header>
            <h1> Welcome To My WebApplication</h1>
        </header>
        <section class="Bio">
            <h2>
                About Me
            </h2>
            <p><strong>Name:</strong>Prasad Malai</p>
            <p><strong>Roll No:</strong>2023MCS320002</p>
            <p><strong>Bio:</strong> I am a software engineer persuing Mtech from IIIT kottayam, with specialization in Big data & ML</p>
        </section>
        <footer>
            <p>&copy; 2025 Prasad Malai. All rights reserved.</p>
        </footer>
    </div>
</body>
</html>